/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

:root{
    --primary-color: #88c425;
    --white: #FFF;
    --gap: 3rem;
    --cinza:#EEE;
    --secondary-color: #1b676b;
}

a{
    text-decoration: none;
    color: var(--secondary-color);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    color: var(--primary-color);

}

h1, h2, h3, h4, h5, h6{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

h1{
    font-size: 6rem;
    text-transform: uppercase;
}

h2{
    font-size: 7rem;
    color: #FFF;
    line-height: 6.5rem;
    text-transform: capitalize;
}

h3{
    font-size: 5rem;
}

h4{
    font-size: 4.5rem;
}

h5{
    font-size: 4rem;
}

h6{
    font-size: 3.5rem;
}


.main-bg{
        background-image: url(/AAlandingpage/img/rose-petals.svg);
    background-size: cover;
    background-position: center center;
    color: var(--primary-color);
}

.main-content{
    max-width: 120rem;
    margin: auto auto;
    padding-top: 0;
    padding-bottom: 0;
    
}

.menu-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section{
    min-height: 100vh;
}

.white-bg{
    background-color: #FFF;

}
 
.menu{
    background-color: var(--white);
    position: fixed  !important;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0.1px 20px black;
    z-index: 2;
}

.menu ul{
    list-style: none;
    display: flex;
}

.menu ul li a{
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    font-weight: 600;
       text-decoration: none;
    color: var(--primary-color);
    position: relative;

}

 .logo{
    font-size: 2.3rem;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.menu ul li a::after{
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 25%;
    width: 0;
    height: 0.2rem;
    background-color: var(--secondary-color);
    transition: all 400ms ease-in-out;
    
}

.menu ul li a:hover::after{
    width: 50%;
    left: 25%;
}

.intro-text-content p{
    padding-top: 3rem;
    text-transform: capitalize;
}

.menu-spacing{
    height: 65px;
}





#home{
    z-index: 3;
}

.intro-text-content{
    color: #FFF;
     width: 45vh;
}

.intro-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: var(--gap);
    min-height: 100vh;
   margin-top: -5rem;
   gap: 5rem;
   margin-left: 50rem;
}

.intro-text-content{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-transform: uppercase;
}

img{
    max-width: 100%;
    height: auto;
    margin-left: 1rem;
    margin-bottom:8rem;

}

.top3-jobs h2 {
    color: var(--secondary-color);
    margin-bottom: 7rem;
}

.top3-jobs p{
    color: var(--secondary-color);
    margin-bottom: 3rem ;
}

.top3-jobs{
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    max-width: 64rem;
    justify-content: center;
    align-content: center;
    
}

#top3-img{
   background-image: url(/AAlandingpage/img/bg-grad.svg);
    height: 100vh;
    background-size: cover;
background-position: center center;
   box-shadow: 0 -1px 20px 0 #05643a;
}

.grid-one-content p{
color: var(--white);
margin-top: 1.5rem;
}

.grid-one-content{
    display: flex;
    flex-flow: column wrap;
    max-height: 120vh;
    justify-content: center;
    margin: 0 auto;
    
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    gap: 5rem;
    counter-reset: gridcounter;
    padding-top:10rem ;
}

.grid div{
    color: var(--white);
}

.grid h3::before{
    counter-increment: gridcounter;
    content: counter(gridcounter);
    position: absolute;
    font-size: 7rem;
    font-style: italic;
    top: -1.7rem;
    left: 0;
    margin-bottom: 0;
    transform: rotate(1deg);
}

.grid h3{
    color: #FFF;
    position: relative;
    padding-left: 5.5rem;
    padding-bottom: 0;
    margin-bottom: 1.2rem;
}
.grid p{
    margin-top: 0%;
}

.gallery-img{
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;

}

.gallery-img img{
    transition: all 300ms ease-in-out;
}

.gallery-img img:hover{
   transform: translate(-3%, 3%) scale(1.2) ;
}

.grid-main-heading {
    color: var(--secondary-color);
    margin-top: 8rem;
    margin-bottom: 3rem;
   
}

#caralho{
    color: var(--secondary-color);
}

.alinha-caralho{
margin-left: 3rem;
}

#gallery{
    padding-bottom: 10rem;
}

#work{
    background-image: url(/AAlandingpage/img/dragon-scales.svg);
    
}

table{
    min-width: 360px;
  
    color:black;
    border-collapse: collapse;
}

table td, table th {
    border: 0.1rem solid var(--cinza);
    white-space:nowrap;
}

caption{
    text-align: start;
    padding-left: 1rem;
    font-style: italic;
    font-size: 2rem;
    
}
thead {
    background-color: rgba(36, 148, 36, 0.158);
}
tfoot{
    text-align: start;
    background-color:rgba(36, 148, 36, 0.158);
    font-weight: bold;
}

td, th{
    padding:1.5rem 8rem;
 
}

.responsive-table{
    width: 59% ;
    overflow: scroll;
overflow-y: auto;

}
.main-content2{
      max-width: 150rem;
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 0;
    justify-content: center;
    align-items: center;
}

#caralho3{
    max-width: 100rem;
    margin-bottom: 10rem;
} 
.main-content2 h2{
margin-bottom: 3rem;
}

.main-bg3{
    background-image: url(/AAlandingpage/img/rainbow-vortex.svg);
    background-position: center center;
    background-size: cover;
}

.main-content2 img{
     grid-column: span 2;
     margin-bottom: 0%;
    }
    
.contact-form{
grid-column: span 2;
}

.contact-form .form-grid{
border: none;
display: flex;
flex-direction: row;
flex-wrap: wrap;
gap: var(--gap);
}
  
.form-group{
    flex: 1 1 600px;
}
.form-grid{
    grid-template-columns: 2, 1fr;
}
.form-grid legend{
    margin-bottom: 3rem;
    font-style: italic;
}

.form-group label{
    display: block;
}

.form-group input,
.form-group textarea{
    border: none;
    background-color: #ffffff;
    padding: 1.5rem 2rem;
    width: 100%;

}
input, textarea{
    border-radius: 0.6rem;
}

textarea #message{
    width: 1200px;
  color: #000;
}

.form-group button{
    border: 0.5rem solid #FFF;
    background: none;
    color: #FFF;
    padding: 1rem;
    font-size: 2rem;
    font-weight: 400;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.form-group button:hover{
background-color: #FFF;
color: var(--secondary-color);
}

.form-group #last-name, #first-name{
       flex: 1 1 400px;
}



section fieldset{
    color: #FFF;
    margin: 3rem;
    display: flex;
}
body .full-width{
    width: 100%;
flex: 1 2 100%;
}




#rodape{
    height: 10rem;
    background-color: #FFF;
display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-style: italic;
    color: rgba(0, 0, 0, 0.568);
}
 